<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1>Главная страница</h1>
    {% if request.user.is_authenticated %}
    Добро пожаловать на сайт {{ request.user.username }}
        <br>
        <br>
        Твои данные:

        <br>
        <p>Номер телефона: {{ request.user.profilen.phone_number}}</p>
        <p>Город: {{ request.user.profilen.city}}</p>
        <br>
        <a href="{% url 'news_site:details' pk=user.pk %}">К деталям</a>


    {% else %}
    <a href="{% url 'news_site:register' %}">Зарегистрироваться</a>
    <div>
        <a href="{% url 'news_site:login' %}">Войти на сайт</a>
    </div>

    {% endif %}
</body>
</html>