{% extends 'marketplace/base.html' %}
{% load i18n %}
{% load cache %}
    {% block title %}
     Аккаунт
    {% endblock %}
{% block body %}
<body>
    {% if user.is_authenticated %}
    <h2>Добро пожаловать {{ user.username }}</h2>
    <p>Ваш баланс: {{ user.profilenew.balance }}</p>
        <p><a href="{% url 'marketplace:update_balance' pk=user.pk %}">Обновить баланс</a></p>
        <br>
        {% cache 3600 footer %}
        <p>{% trans 'History by:' %}</p>
        {% for x in form %}
        {{ x.name }}
        {% endfor %}
        {% endcache %}
        <br>
        <p>{% trans 'Promotions:' %}</p>
        {% for prom in promotions %}
        {{ prom.name }}
        {% endfor %}
        <br>
        <p>{% trans 'Offers:' %}</p>
        {% for offer in offers %}
        {{ offer.name }}
        {% endfor %}
    {% else %}
    <h2>Для начала войдите в систему</h2>
    {% endif %}
</body>
{% endblock %}
